* {
  font-size:98%;
  font-family:Helvetica,Arial,sans-serif;
}

a {
  color:#800;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
  color:#e00;
}

footer > p {
  padding:0 12px;
  font-size:80%;
}

html {
  background:#FFFFEE;
}

h1 {
  text-align:center;
  font-size:140%;
  font-weight:bold;
}

h2 {
  text-align:center;
  font-size:130%;
  font-weight:bold;
}

h3 {
  text-align:center;
  font-size:120%;
  font-weight:bold;
}

h4 {
  text-align:center;
  font-size:110%;
  font-weight:bold;
}

.layout-978 {
  width:978px;
  margin:0 auto;
}

.column-small {
  padding:12px;
}

.clear {
  clear:both;
}

/* Front page */
.category-list {
  overflow:hidden;
}

.category-list > li {
  float:left;
}

.category-list  > li > .category-name {
  color:#800;
  font-weight:bold;
  text-decoration:underline;
  padding-top:4px;
  padding-bottom:4px;
}

.category-list  > li > ul > li {
  padding:2px 0 1px 0;
}

/* All pages */
.after-categories,
.board-nav {
  overflow:hidden;
}

.board-nav > .wrap-bracket-left {
  float:left;
}

.board-nav li {
  float:left;
}

.after-categories li > a,
.board-nav li > a {
  font-size:88%;
  text-decoration:none;
  color:#800;
  padding-left:2px;
}

.board-nav li:last-child > a {
  padding-right:2px;
}

.after-categories li > a:hover,
.board-nav li > a:hover {
  text-decoration:underline;
  color:#e00;
}
